%h3
  Open Orders

.span5
  %table.table.table-hover
    %thead
      %tr
        %th
          ID
        %th
          Restaurant
        %th
          Order Initiator
    - if @open_orders
      %tbody
        - for order in @open_orders
          %tr
            %td
              = link_to order.id, order
            %td
              = order.restaurant.name
            %td
              = order.user.first_name

              =order.user.last_name