%h3
  Open Orders

- unless @open_orders.empty?
  .span5
    %table.table.table-hover
      %thead
        %tr
          %th
            ID
          %th
            Restaurant
          %th
            Order Initiator
      %tbody
        - for order in @open_orders
          %tr
            %td
              = link_to order.id, order
            %td
              = order.restaurant.name
            %td
              = order.user.first_name

              =order.user.last_name
- else
  .span8offset2
    %h4
      There are no open orders right now. In order to open one, go to the restaurant and choose your desired items and press order...