.span3.side-cart
  %h3 Order Cart

  %table.table.table-hover
    - unless @cart.nil?
      = render 'cart_item'

      %tr.info
        %td
          &nbsp;
        %td
          &nbsp;
        %td
          .pull-right
            = number_to_currency(@cart.total_price, unit: "EGP", format: "%n %u")
      - unless @cart.items.empty?
        %tr
          %td
            &nbsp;
          %td
            &nbsp;
          %td
            .pull-right
              = link_to "Order", add_to_order_path(restaurant_id: @restaurant.id), class: "btn btn-mini btn-primary"
              = link_to "Empty", empty_cart_path, remote: true, class: "btn btn-mini btn-danger"  